<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>

        {% block navbar %}
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <li> <a href="{% url 'homepage' %}"> Home </a></li>
                            <li> <a href="{% url 'add_category' %}">Categories</a> </li>
                            <li> <a href="{% url 'add_book' %}">New book</a> </li>
                        </ul>
                        
                        <form action="{% url 'search' %}" method="POST" class="navbar-form navbar-right">
                        {% csrf_token%}
                            <div class="form-group">
                                <input type="text" name="search_term" class="form-control"  placeholder="Search">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </form>
                    </div>
                </div> 
            </nav>
        {% endblock%}
        <div class="container">    
            {% block content %}
            {% endblock%}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>