{% extends 'base.html' %}
{% block content%}
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ current_book.title }}
        </div>
        <div class="panel-body">
            <div class="col-md-8">
                {{ current_book.description }}
            </div>
            <div class="col-md-4">
                <h4> Book Details </h4>
                <p>
                   <em> Date Added: {{ current_book.date_added }} <br>
                    Last Modified: {{ current_book.date_modified }} </em>
                </p>
                <p>
                    <a href="#" class="btn btn-default">Edit</a>  
                    <a href="#" class="btn btn-default">Delete</a>
                </p>
            </div>
        </div>
    </div>
    <h3> </h3>
    
{% endblock %}