{% extends 'base.html' %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Categories
        </div>
        <div class="panel-body">
            <div class="col-md-8">
                {% if categories %}
                    <ol>
                        {% for category in categories %}
                            <li> {{ category.name|capfirst }} </li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <h5>No categories added yet </h5>
                {% endif %}
            </div>
            <div class="col-md-4">
                <h4>Add Category</h4>
                <form method="POST" class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ new_category_form.name }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}